.container_16 {
margin-left:auto;
margin-right:auto;
width:900px;
}

.block_1,.block_2,.block_3,.block_4,.block_5,.block_6,.block_7,.block_8,.block_9,.block_10,.block_11,.block_12,.block_13,.block_14,.block_15,.block_16 {
display:inline;
float:left;
}

.container_16 .block_4 {
width:240px;
}

.container_16 .block_8 {
width:480px;
}

.container_16 .block_12 {
width:720px;
}

.container_16 .block_16 {
width:960px;
}

.container_16 .block_1 {
width:60px;
}

.container_16 .block_3 {
width:180px;
}

.container_16 .block_5 {
width:288px;
}

.container_16 .block_6 {
width:360px;
}

.container_16 .block_7 {
width:420px;
}

.container_16 .block_9 {
width:540px;
}

.container_16 .block_10 {
width:600px;
}

.container_16 .block_11 {
width:660px;
}

.container_16 .block_13 {
width:780px;
}

.container_16 .block_14 {
width:840px;
}

.container_16 .block_15 {
width:900px;
}

.clearfix:after {
clear:both;
content:'.';
display:block;
visibility:hidden;
height:0;
}

* html .clearfix {
height:1%;
}

li.sideheadertab2 h2 {
display:block;
border:0;
margin:0;
}

li.sideheadertab2 h2 span {
display:block;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:400;
font-style:normal;
text-decoration:none;
padding:0;
}

li.sideheadertab h2 {
background:url(images/a3479a9.png) left top no-repeat;
display:block;
border:0;
margin:0;
}

li.sideheadertab h2 span {
display:block;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#6A6B6A;
line-height:70px;
font-weight:400;
font-style:normal;
text-decoration:none;
padding:0 0 0 10px;
}

li.sidemenu a {
background:url(images/dot.gif) left 28px repeat-x;
display:block;
text-decoration:none;
border:0;
margin:0 20px 1px;
}

li.sidemenu a span {
display:block;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#000;
line-height:30px;
font-weight:400;
font-style:normal;
text-decoration:none;
padding:0 0 0 10px;
}

li.sidemenu a:hover,li.sidemenu a.item_active {
background-color:#fff;
}

a.splashButton {
background:#EC3D06 ;
display:block;
float:right;
text-decoration:none;
border:2px solid #fff;
margin:10px 0 0;
}

a.splashButton span {
display:block;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:15px;
color:#fff;
line-height:22px;
font-weight:400;
font-style:normal;
text-decoration:none;
padding:0 10px;
}

a.splashButton:hover {
background-color:#515251;
}

a.splashButton:hover span {
color:#fff;
font-weight:400;
font-style:normal;
text-decoration:none;
}

.topmenu {
height:37px;
border:0;
margin:0;
}

.topmenu ul,.topmenu ul li {
list-style:none;
float:left;
margin:0;
padding:0;
}

.topmenu ul {
float:right;
margin:57px 0 0;
}

.topmenu ul li a {
background:url(images/right_798a701.png) right top no-repeat;
text-decoration:none;
display:block;
float:left;
border:0;
margin:0 5px 0 0;
padding:0;
}

.topmenu ul li a span {
display:block;
background:url(images/left_798a701.png) left top no-repeat;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#fff;
line-height:40px;
font-weight:400;
font-style:normal;
text-decoration:none;
padding:0 15px;
}

.topmenu ul li a:hover,.topmenu ul li a.item_active {
background:url(images/right_798a701.png) right bottom no-repeat;
}

.topmenu ul li a:hover span,.topmenu ul li a.item_active span {
background:url(images/left_798a701.png) left bottom no-repeat;
color:#000;
font-weight:400;
font-style:normal;
text-decoration:none;
}

input,select,textarea {
font-size:13px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
background:#fff url(images/header_bg.gif) 0 -10px repeat-x;
border:1px solid #898989;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:1px 0 0 1px;
padding:3px;
}

input[type=hidden] {
display:none;
visibility:hidden;
height:0;
}

input[type=submit],button {
font-size:13px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
border:1px solid #363636;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0 0 0 1px;
padding:3px;
}

body {
background:url(images/4715838.png) top repeat-x;
margin:0;
padding:0;
}

.splash {
width:900px;
height:300px;
background:url(images/370d779.png) left top no-repeat;
margin:0 auto;
}

.splashcontent {
display:block;
width:360px;
padding:50px 0 0;
}

#jFlowSlide {
margin-left:350px;
margin-right:auto;
}

.jFlowSlideContainer {
overflow:hidden;
}

.jFlowNext,.jFlowPrev {
color:#FCEF7C;
font:12px Verdana, Geneva, sans-serif;
cursor:pointer;
display:block;
line-height:18px;
float:left;
margin-right:15px;
}

#headerBlock {
width:300px;
margin-left:auto;
margin-right:auto;
}

#header {
width:300px;
height:116px;
vertical-align:middle;
background:url(images/5915145.png) left top no-repeat;
}

#header h1,#header h2,#headerBlock h1,#headerBlock h2 {
margin:0;
padding:0;
}

#header h1,#headerBlock h1 {
float:left;
font-size:22px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#000;
letter-spacing:-2px;
border:0;
font-weight:700;
font-style:normal;
text-decoration:none;
margin:30px 0 0;
padding:0;
}

#header a#logo img {
border:0;
vertical-align:middle;
}

#header a#logo {
line-height:0;
margin:0 10px 0 0;
padding:0;
}

#header h2,#headerBlock h2 {
float:left;
font-size:18px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#828282;
letter-spacing:-1px;
border:0;
font-weight:700;
font-style:normal;
text-decoration:none;
margin:0;
padding:0;
}

#header a {
text-decoration:none;
color:#414141;
}

#header h1,#header h2 {
display:block;
float:none;
text-align:center;
}

.footer {
clear:both;
width:900px;
height:102px;
font:0;
text-align:center;
line-height:normal;
margin:0 auto;
padding:20px 0;
}

.content {
background:url(images/90d6a0e.png) -300px top no-repeat;
padding:0;
}

.sidebar {
width:300px;
background:url(images/90d6a0e.png) left top no-repeat;
padding-top:30px;
padding-bottom:0;
}

.sidebar li {
width:288px;
margin:0;
}

.sidebar2 {
width:180px;
padding:0;
}

.sidebar2 li {
width:180px;
margin:0;
}

h1.title {
font-size:18px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#898989;
background:url(images/dot.gif) bottom repeat-x;
line-height:60px;
border-top:0 #898989;
border-right:0 #898989;
border-bottom:0 #898989;
border-left:0 #898989;
font-weight:700;
font-style:normal;
text-decoration:none;
margin:0 10px;
padding:0 0 0 10px;
}

h1.title a {
color:#898989;
text-decoration:none;
}

.meta {
font-size:11px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#000;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:0 10px 10px;
}

.navigation .navnext {
float:right;
}

.navigation {
clear:both;
font-size:13px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#000;
border-top:1px solid #000;
border-right:0 #000;
border-bottom:0 #000;
border-left:0 #000;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:5px;
padding:5px;
}

.pagecontent a {
color:red;
font-weight:400;
font-style:normal;
text-decoration:underline;
}

.pagecontent a:hover {
color:#00f;
font-weight:400;
font-style:normal;
text-decoration:none;
}

.pagecontent {
overflow:hidden;
font-size:13px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#000;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:1px 0 0;
padding:10px;
}

.footerContent a {
color:#d7d7d7;
text-decoration:underline;
}

.footerContent a:hover {
color:#d7d7d7;
text-decoration:none;
}

.footerContent {
font-size:13px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#d7d7d7;
font-weight:400;
font-style:normal;
text-decoration:none;
text-align:center;
height:102px;
background:url(images/0f36557.png) left top no-repeat;
border:0;
margin:0;
}

.footerInner {
padding:40px 0 0 300px;
}

fieldset {
border:0;
margin:0;
padding:0;
}

.sideSearch label {
padding:0 5px 3px 0;
}

.sideSearch {
font-size:13px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:10px;
}

.sidebarContent {
font-size:13px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#000;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:10px;
}

.sidebarContent2 {
font-size:13px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:0;
}

#CommentAdd {
border-top:0 solid;
border-right:0 solid;
border-bottom:0 solid;
border-left:0 solid;
margin:0;
padding:0;
}

#CommentAdd h2 {
font-size:0;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
border-top:0 solid;
border-right:0 solid;
border-bottom:0 solid;
border-left:0 solid;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:0;
}

#CommentAdd label {
font-size:0;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-weight:400;
font-style:normal;
text-decoration:none;
float:left;
clear:both;
padding:0;
}

h2#postcomment,h2#comments {
font-size:20px;
font-family:Georgia, "Times New Roman", Times, serif;
color:#000;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0 0 10px;
padding:10px;
}

.commentsBlock #comment {
width:100%;
}

.commentsBlock ol {
list-style:none;
margin:0;
padding:0;
}

.commentsBlock {
font-size:11px;
font-family:Tahoma, Arial, Helvetica, sans-serif;
color:#000;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:20px;
}

.singleComment {
font-size:11px;
font-family:Tahoma, Arial, Helvetica, sans-serif;
color:#000;
background:#fff ;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0 1px 11px 0;
padding:10px;
}

.singleCommentTitle {
font-size:13px;
font-family:Tahoma, Arial, Helvetica, sans-serif;
color:#000;
border:0;
font-weight:700;
font-style:normal;
text-decoration:none;
margin:0;
padding:2px;
}

.singleCommentMeta {
font-size:10px;
font-family:Tahoma, Arial, Helvetica, sans-serif;
color:#000;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0 0 5px;
padding:2px;
}

.commentsBlock input,.commentsBlock textarea {
display:block;
margin:2px 0 5px;
}

.splashTitle {
font-size:28px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#fff;
line-height:28px;
border:0;
font-weight:700;
font-style:normal;
text-decoration:none;
margin:0;
padding:0;
}

.splashDescription {
font-size:20px;
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
color:#FCEF7C;
letter-spacing:-1px;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:0;
}

#wrap {
display:block;
background:url(images/01d50da.png) bottom repeat-x;
margin:0 auto;
}

.shopPromo {
width:160px;
float:left;
border:1px solid #898989;
margin:1px;
padding:1px;
}

.shopPromo h2,.shopPromo h2 a {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#363636;
background:#e1e1e1 ;
letter-spacing:-1px;
border-top:0 #898989;
border-right:0 #898989;
border-bottom:2px solid #898989;
border-left:0 #898989;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0 0 10px;
padding:5px;
}

.shopPromo .shopDesc {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
border-top:0 #898989;
border-right:0 #898989;
border-bottom:1px solid #898989;
border-left:0 #898989;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:1px 0 0;
padding:10px;
}

.shopPromo .shopDesc a {
color:#707070;
font-weight:400;
font-style:normal;
text-decoration:underline;
}

.shopPromo .shopActionBuy,.shopPromo a.shopActionBuy {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#464646;
background:#e1e1e1 ;
border:2px solid #898989;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:8px 16px;
}

.shopList {
width:240px;
float:left;
border:1px solid #898989;
margin:1px;
padding:1px;
}

.shopList h2,.shopList h2 a {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#000;
background:#e1e1e1 ;
border-top:0 #898989;
border-right:0 #898989;
border-bottom:2px solid #898989;
border-left:0 #898989;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:5px;
}

.shopList .shopDesc {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#000;
border-top:0 #898989;
border-right:0 #898989;
border-bottom:1px solid #898989;
border-left:0 #898989;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:10px;
}

.shopList .shopActionBuy {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#000;
background:#ccc ;
border:2px solid #898989;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0 10px 0 0;
padding:8px 16px;
}

.shopMore {
border-top:0;
border-right:0;
border-bottom:0;
border-left:0;
margin:5px;
padding:1px;
}

.shopMore .shopAction {
clear:both;
text-align:right;
}

.shopList .shopAction {
text-align:right;
}

.shopMore h2,.shopMore h2 a {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:18px;
color:#000;
border-top:0 #898989;
border-right:0 #898989;
border-bottom:2px solid #898989;
border-left:0 #898989;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:10px;
}

.shopMore .shopDesc {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:10px;
}

.shopMore .shopActionBuy {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
color:#000;
background:#d7d7d7 ;
border:2px solid #555;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0 10px 0 0;
padding:8px 16px;
}

.shopAction {
display:block;
width:auto;
overflow:hidden;
margin:0 auto;
}

.shopActionBuy {
float:right;
display:block;
}

.shopPrice {
float:left;
display:block;
}

#headerBlock h2 {
position:relative;
x-index:99;
}

.MainContainer {
background:url(images/7640a69.png) left repeat-y;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
display:inline;
float:left;
margin:0;
padding:0 0 50px;
}

.container_16 .block_2,.sideSearch .sideSearchIn {
width:120px;
}

html body * span.clear,html body * div.clear,html body * li.clear,html body * dd.clear,.cBreak {
background:none;
border:0;
clear:both;
display:block;
float:none;
font-size:13px;
list-style:none;
overflow:hidden;
visibility:hidden;
width:0;
height:0;
margin:0;
padding:0;
}

.clearfix,.splashDescription,.splashTitle,.priceOld,.priceNew {
display:block;
}

.sidemenu ul,.sidemenu ul li,.sidebar ul,.sidebar2 ul {
list-style:none;
margin:0;
padding:0;
}

li.sidemenu a:hover span,li.sidemenu a.item_active span,.shopList h2 a:hover,.shopMore h2 a:hover,.shopPromo .shopDesc a:hover {
color:#000;
font-weight:400;
font-style:normal;
text-decoration:none;
}

#mySlides,.jFlowControl,#splash {
display:none;
}

#header h1 a,.meta a:hover,.navigation a:hover,.sidebarContent a:hover,h2#postcomment a:hover,h2#comments a:hover,.commentsBlock a:hover,.singleComment a:hover,.singleCommentTitle a:hover,.singleCommentMeta a:hover {
color:#000;
text-decoration:none;
}

.meta a,.navigation a,.sidebarContent a,h2#postcomment a,h2#comments a,.commentsBlock a,.singleComment a,.singleCommentTitle a,.singleCommentMeta a {
color:#000;
text-decoration:underline;
}

.navigation .navprev,.shopList .shopImg,.shopList .shopImg img,.shopMore .shopImg,.shopMore .shopImg img {
float:left;
}

.sidebarContent img,.sidebar2Content img,.shopImg img {
border:0;
}

.sidebarContent2 a,.sidebarContent2 a:hover,#CommentAdd a,#CommentAdd a:hover,.splashTitle a,.splashTitle a:hover,.splashDescription a,.splashDescription a:hover,.shopPromo h2 a:hover,.shopList .shopDesc a,.shopList .shopDesc a:hover,.shopMore .shopDesc a,.shopMore .shopDesc a:hover {
font-weight:400;
font-style:normal;
text-decoration:none;
}

.shopPromo a.shopActionBuy:hover,.shopList a.shopActionBuy:hover,.shopMore a.shopActionBuy:hover {
color:#000;
font-weight:400;
font-style:normal;
text-decoration:underline;
}

.shopPromo .shopImg,.shopPromo .shopImg img,.shopImg,.shopPromo .shopAction {
text-align:center;
}

.shopPromo .shopPrice,.shopList .shopPrice,.shopMore .shopPrice {
font-family:"Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
background:#e1e1e1 ;
border:0;
font-weight:400;
font-style:normal;
text-decoration:none;
margin:0;
padding:10px;
}

.shopList .shopImg img,.shopMore .shopImg img {
margin:5px;
}